config SAMPLE_RATE
	int "Sampling rate"
	default 16000

config NB_BINS
    int "Number of frequency bins"
    default 128

config I2S_SAMPLES
	int "Number of samples per slab buffer"
	default 320

config I2S_NUM_BUFFERS
	int "Number of I2S slab buffers to allocate"
	default 4

config ACTIVATION_BUF_SECTION
	string "Linker section where activation buffer (tensor arena) is placed"
	default ".bss.activation_buf"

config ACTIVATION_BUF_SZ
	hex "Tensor arena size"
	default 0x20000

config TOUCH_SCREEN_DELAY
	int "Duration between touch screen events in ms"
	default 500
	help
		Minimum duration between two touch screen events to avoid
		generating too many events.

config MODEL_IN_EXT_FLASH
	bool "Put ML model to external flash"
	select FLASH
	select ALIF_OSPI_FLASH_XIP
	help
		Initialize OSPI controller to XIP mode. Initialize the onboard flash device. Link ML model data to external flash address space.
		In addition to normal zephyr.bin output, ospi1.bin is generated. When enabled, the model memory section is set automatically (See BufAttributes.h)

config MODEL_SECTION
	string "Linker section where ML model is placed"
	default ".rodata.tflm_model"

config ETHOS_U_AXI0_ONLY
	bool "Only use AXI0 port on the Ethos"
	default false

config TEMPLATE_INSTANTIATIONS
	bool "Code size optimization with template instantiations"
	default false

config PREBUILT_ET
	bool "Prebuilt executorch library"
	default false

config ET_ARM_BAREMETAL_METHOD_ALLOCATOR_POOL_SIZE
	hex "Method allocator pool size in bytes"
	default 0x20000
	help
	  Size of the method allocator pool in bytes. This memory is used
	  for allocating ExecuTorch method instances and their metadata.
	  Default is 16KB which should be sufficient for most small models.
	  Larger models may require more memory.

config ET_ARM_BAREMETAL_SCRATCH_TEMP_ALLOCATOR_POOL_SIZE
	hex "Temporary allocator pool size in bytes"
	default 0x8000
	help
	  Size of the temporary allocator pool in bytes. This memory is used
	  for temporary allocations during model execution such as intermediate
	  tensor calculations. Default is 2KB which should be sufficient for
	  simple operations. Complex models may require more memory.

config ONLY_LAST
	bool "Only use the last network"
	default false

	
config ET_METHOD_SECTION
	string "Linker section method buffer is placed"
	default ".bss.method"

config ET_TENSOR_ARENA_SECTION
	string "Linker section where activation buffer (tensor arena) is placed"
	default ".bss.tensor_arena"

config ET_ETHOSU_SCRATCH_SECTION
	string "Fast scratch buffer section for Ethos-U."
	default ".bss.ethosu_scratch"

config ET_MODEL
	string "Model coefficients"
	default ".rodata.et"

module = STREAMAPPS
module-str = streamapps
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
