config SAMPLE_RATE
	int "Sampling rate"
	default 16000

config NB_BINS
    int "Number of frequency bins"
    default 128

config I2S_SAMPLES
	int "Number of samples per slab buffer"
	default 320

config I2S_NUM_BUFFERS
	int "Number of I2S slab buffers to allocate"
	default 4

config ACTIVATION_BUF_SECTION
	string "Linker section where activation buffer (tensor arena) is placed"
	default ".bss.activation_buf"

config ACTIVATION_BUF_SZ
	hex "Tensor arena size"
	default 0x20000

config MODEL_SECTION
	string "Linker section where ML model is placed"
	default ".rodata.tflm_model"

source "Kconfig.zephyr"
