/* Copyright (C) 2025 Alif Semiconductor - All Rights Reserved.
 * Use, distribution and modification of this code is permitted under the
 * terms stated in the Alif Semiconductor Software License Agreement
 *
 * You should have received a copy of the Alif Semiconductor Software
 * License Agreement with this file. If not, please write to:
 * contact@alifsemi.com, or visit: https: //alifsemi.com/license
 *
 */

/ {
	aliases {
		i2s-mic = &i2s4;
		lcd = &cdc200;
	};
};

&ospi1 {
	bus-speed = <100000000>;
	status = "okay";
};

&i2s4{
    status = "okay";
};

&ethosu0 {
	status = "okay";
};

&lpgpio {
	status = "okay";
};

&gpio6 {
	status = "okay";
};
