/* Button */
&pinctrl_lpgpio {
	group0 {
		pinmux = < PIN_P15_4__LPGPIO >;
		read-enable = < 0x1 >;
		driver-state-control = <1>;
	};
};

/* Touch screen */
&pinctrl_gpio4 {
	group0 {
		/* Enable only Port-4 Pin-0 */
		pinmux = <PIN_P4_0__GPIO>;
	};
};

/* Camera */
&pinctrl_gpio7 {
	group0 {
		pinmux = <PIN_P7_5__GPIO>;
	};
};

/* Camera and touch screen */
&pinctrl_gpio9 {
	group0 {
		pinmux = <PIN_P9_4__GPIO>,<PIN_P9_1__GPIO>;
	};
};
